.app-titel {
  padding: 1rem;
  text-align: center;
  font-size: 0.625rem;
  font-weight: bold;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.7);
}

.container {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
}

nav {
  position: absolute;
  bottom: 2rem;
  display: flex;
  width: max-content;
  align-items: center;
  padding: 4px;
  gap: 4px;
  background: rgba(255, 255, 255, 0.1);
  border: 0.8px solid rgba(255, 255, 255, 0.12);
  box-shadow: 2px 4px 12px rgba(2, 1, 1, 0.16);
  backdrop-filter: blur(16px);
  border-radius: 25px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav a {
  padding: .7rem 1rem;
  text-decoration: none;

  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

nav a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.12);
}
nav a.active {
  color: #fff;
  background-color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.superHeight
 {
  height: 100vh;
 }
