/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sigmar+One&display=swap');

/* Application-wide Styles */

*,
*::before,
*::after {
 box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  color: #369;
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  font-size: 16px;
  position: relative;
  height: 100vh;
  background-color: #0F1E2D;
  background-image: url("../src/assets/img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

body, input[type="text"], button {
  color: #fff;
  font-family: 'Inter', Georgia, serif;
}

button {
  background: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.12);
backdrop-filter: blur(14px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
